<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Bandera</th>
      <th>Nombre</th>
      <th>Poblacion</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr   *ngFor="let country of pais">
      <td>{{country.numericCode}}</td>
      <td><img [src]="country.flag" alt="" width="100px" height="100px"></td>
      <td>{{country.capital}}, {{country.name}}</td>
      <td>{{country.population}}</td>
      <td>
        <a >Ver..</a>
      </td>
    </tr>
  </tbody>
</table>
